<aside class="edit-form close-edit-form">
    <form id="taskform" action="/task/update" method="POST">
        <img src="./assets/Delete.svg" style="margin-left:auto;" onclick="toggleFormEdit()">
        <h4>Título</h4>
        <input type="text" name="title" class="edit-form-text mb-2">
        <h4>Descrição</h4>
        <textarea class="edit-form-textarea mb-2" name="description" form="taskform" rows="7" cols="45"></textarea>
        <h4>Lista Pertencente(opcional)</h4>
        <p class="text-help">Ao selecionar uma lista, a task será exibida associada a ela</p>
        <select  name="listid" class="edit-form-selector mb-2">
            <option selected value='none'>Selecione uma lista para essa tarefa</option>
            <option value="none">Desassociar da lista</option>
            <option value="Lista2">Lista 2</option>
        </select>
        <h4>Data Limite</h4>
        <input type="date" name="date" class="edit-form-date mb-2">
        <input type="hidden" name="id" class="">
        <button type="submit" class="btn-salvar-alteracoes">Salvar alterações </button>
    </form>
</aside>